@import url("reset.css");

* {
  box-sizing: border-box;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --background: #d3dff7;
    --text: #000000;
    --hover: #360f91;
    --current_page: #145dfa;
    --backfill: #9bb6f0;
    --active: #2b0666;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --text: #ffffff;
    --hover: #f35900;
    --current_page: hsl(10, 100%, 52%);
    --backfill: #2e2e2e;
    --active: #ffffff;
    /* #1b033b */
  }
}

@font-face {
  font-family: Bree_Serif;
  src: url("../font/BreeSerif-Regular.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: Synonym;
  src: url("../font/Synonym-Variable.ttf") format("truetype");
  font-weight: 100 900;
}

a {
  text-decoration: none;
}

/* for the pancake stack pattern this grid was added to body  */
body {
  background-color: var(--background);
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: all ease 250ms;
}

* {
  color: var(--text);
}

h1 {
  font-size: 3.4rem;
}

h1:hover {
  color: var(--hover);
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h1,
h2,
h3,
h4,
nav {
  font-family: Bree_Serif;
  font-weight: 500;
}

p {
  font-family: Synonym;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.4;
}

main p {
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}

main #contact {
  font-family: Synonym;
  align-self: center;
}

.contact_link {
  display: flex;
  justify-content: center;
}

.contact_link > li > a {
  width: 3rem;
}

/* RAM pattern used for members' title cards */
.members_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
  align-items: start;
  padding-bottom: 1.5rem;
}

/* inside each member is a grid of its own */
.member {
  border: 0.5rem solid var(--backfill);
  background-color: var(--backfill);
  border-radius: 3rem;
  display: grid;
  grid-template: auto auto / 50% 50%;
  justify-items: center;
  padding: 1rem;
}

.member img {
  justify-self: center;
  max-width: 100%;
  object-fit: contain;
}

.member #name {
  padding: 0.5rem;
}

.title_and_name {
  justify-self: center;
  align-self: center;
}
.title_and_name h4 {
  text-align: center;
}
.member p {
  grid-column: span 2;
}

/* Index Page Related */
/* RAM pattern for the gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  gap: 2em;
  padding: 1rem 2rem;
}

.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  /* i removed padding this was bad */
}

.hashtags {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hashtags li {
  margin: 0.5rem 0.3rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--backfill);
  border-radius: 30em;
  color: var(--text);
  font-family: Bree_Serif;
  font-weight: lighter;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem 4rem;
}

main h2,
main h3 {
  padding: 1rem;
  text-align: center;
  margin: 0.8rem 0;
  /* margin-bottom: 1rem; */
}

#team p {
  padding-bottom: 2rem;
}

main #contact {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--backfill);
  font-weight: 600;
  /* fix line weight above */
  font-size: 1.5rem;
  border-radius: 5rem;
}

/* contact us span */
#contact_span {
  display: none;
  font-weight: 400;
}

/* Header */
/* using the Line up pattern for header*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: 1rem;
}

/* Top Buttons */
header ul {
  display: flex;
  background-color: var(--backfill);
  border-radius: 30em;
  gap: 0.2em;
  font-size: 1.7rem;
  padding: 0.6em 0.1em 0.6em 0.1em;
  margin-top: 1rem;
}

header #website_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#website_title h1,
#website_title p {
  text-align: center;
}

#not_selected:hover,
#selected:hover {
  color: var(--hover);
}

#selected:hover {
  color: var(--background);
}

#not_selected {
  padding: 0.3em;
}

#selected {
  background-color: var(--current_page);
  border-radius: 30em;
  padding: 0.3em 0.5em 0.3em 0.3em;
}

#not_selected:active {
  background-color: var(--current_page);
  border-radius: 30em;
  padding: 0.3em 0.5em 0.3em 0.3em;
  color: var(--active);
}

#selected:active {
  background-color: var(--current_page);
  border-radius: 30em;
  padding: 0.3em 0.5em 0.3em 0.3em;
  color: var(--active);
}

.social_links {
  display: flex;
  justify-content: space-evenly;
  padding: 2% 10% 0% 10%;
}

.social_links a span {
  display: none;
}

/* Set unique icons */
#discord::before {
  background-image: url("../media/icons/brand-discord.png");
}

#x::before {
  background-image: url("../media/icons/brand-x.png");
}

#instagram::before {
  background-image: url("../media/icons/brand-instagram.png");
}

#linkedin::before {
  background-image: url("../media/icons/brand-linkedin.png");
}

#facebook::before {
  background-image: url("../media/icons/brand-facebook.png");
}

#reddit::before {
  background-image: url("../media/icons/brand-reddit.png");
}

.footer_text {
  padding: 1rem;
}

.footer_text p {
  padding: 1rem;
}

.footer_text p:last-child {
  font-size: 1rem;
}

/* Those settings were put to go with the mobile first approach */
main,
footer {
  min-width: 400px;
  max-width: 800px;
}

/* linear gradient */

main h3:not(.name)::before {
  content: "";
  height: 0.15rem;
  background: linear-gradient(to left, var(--text) 0%, var(--background) 100%);
  grid-column: 1;
  margin-right: 0.5rem;
}

main h3:not(.name)::after {
  content: "";
  height: 0.15rem;
  background: linear-gradient(to left, var(--background) 0%, var(--text) 100%);
  grid-column: 3;
  margin-left: 0.5rem;
}

/* footer */
footer {
  height: 0.15rem;
  border-top: var(--text) 0.2rem solid;
  border-image: linear-gradient(
      to right,
      var(--background) 0%,
      var(--text) 50%,
      var(--background) 100%
    )
    1;
}

/* The headings gradient look */
main > h3:not(.team) {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* 1fr for left/right, auto for text */
  align-items: center;
}

main > h3 > *:not(.team) {
  grid-column: 2;
}

/* query for Medium+ view */
@media screen and (min-width: 700px) {
  main,
  footer {
    min-width: unset;
    max-width: unset;
  }

  #contact_span {
    display: contents;
  }

  .social_links {
    display: grid;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* Using sidebar says pattern for the footer */
  footer {
    display: grid;
    grid-template-columns: minmax(10em, 20%) 1fr;
    margin-left: 5rem;
  }

  .social_links a span {
    display: contents;
  }

  .social_links a span:hover {
    color: var(--hover);
  }

  .footer_text {
    padding-top: 0;
    margin-top: 1rem;
    justify-content: flex-start;
  }

  /* Header */
  header {
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2.5rem;
  }

  header h1 {
    font-size: 3.7rem;
  }
  h2 {
    font-size: 2.7rem;
  }

  header p {
    font-size: 1.2rem;
  }

  header #website_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  header ul {
    font-size: 1.9rem;
  }
  /* RAM pattern for the team members' cards  */
  .members_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
    gap: 1em;
    align-items: start;
    padding-bottom: 1.5rem;
  }

  .member {
    border: 0.5rem solid var(--backfill);
    background-color: var(--backfill);
    border-radius: 3rem;
    display: grid;
    grid-template: 50% auto auto / 1fr;
    justify-items: center;
    min-height: 100%;
  }

  .member img {
    width: 100%;
    height: 100%;
    padding-right: 1em;
  }
  .member p {
    grid-column: span 1;
  }
  main p {
    padding: 0;
  }

  .title_and_name {
    margin-bottom: 0.5rem;
  }
  .title_and_name h4 {
    text-align: center;
    font-size: 1.3rem;
  }

  main,
  footer {
    min-width: unset;
    /* Removes min-width */
    max-width: unset;
    /* Removes max-width */
  }

  /* stylistic edits for the linear gradient */

  main h3:not(.title_and_name)::after {
    background: linear-gradient(
      to right,
      var(--text) 0%,
      var(--background) 75%
    );
  }
  main h3:not(.title_and_name)::before {
    background: linear-gradient(to left, var(--text) 0%, var(--background) 75%);
  }
}
/* for social links */
#x::before,
#instagram::before,
#linkedin::before,
#facebook::before,
#reddit::before,
#discord::before {
  content: "";
  display: inline-block;
  width: 3em;
  height: 3em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-inline-end: 0.3em;
  vertical-align: middle;
  background-size: contain;
}
